<div class="verify-continer">
    <div class="tick">
        <box-icon name='error-circle' type='solid' animation='tada' color='#d84f06' size='100px' ></box-icon>
    </div>
    <div class="message">
        <span>FAILED</span>
    </div>
</div>
<script>
    setTimeout(() => {
        location.replace('/');
    }, 3000)
</script>