<div class="verify-continer">
    <div class="tick">
        <box-icon name='badge-check' type='solid' animation='tada' color='#6fd806' size='100px' ></box-icon>
    </div>
    <div class="message">
        <span>REQUEST SEND SUCCESS</span>
    </div>
</div>
<script>
    setTimeout(() => {
        location.replace('/orders');
    }, 3000)
</script>