/*.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    width: 110px;
    height: 300px;
    margin-top: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 110px;
    height: 120px;
}
.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 120px;
    padding-left: 5px;
    margin: 0px;
}
.card-body .card-title{
    font-size: 13px;
}
.card-body .card-text{
    font-size: 10px;
    margin: 0px;
}
.card-body .text{
    margin: 0px;
    margin-top: 5px;
}
.buttons{
    width: 100%;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons button{
    
    border: none;
    height: 35px;
    width: 100px;
}
.p-btn{
    background-color: #eeaa01;
}
.h-btn{
    background-color: #eee6d1;
    margin-top: 5px;
}
@media only screen and (min-width: 110px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 220px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 330px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 440px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 550px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media only screen and (min-width: 660px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}
@media only screen and (min-width: 770px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
}
@media only screen and (min-width: 880px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
}
@media only screen and (min-width: 990px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
}
@media only screen and (min-width: 1010px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
}
*/


.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #efefef;
    flex-wrap: wrap;
    margin-top: 60px;
}
.card{
    background-color: #fff;
    width: 190px;
    padding: 15px;
    height: 296px;
    margin-top: 1px;
}
.card .imgContainer{
    width: 100%;
    height: 160px;
    border: 0px;
    overflow: hidden;
    position: relative;
}
.card .imgContainer img{
    width: 100%;
}
.card .imgContainer img:nth-child(2){
    position: absolute;
    top: -20%;
    left: 0px;
    opacity: 0;
    transition: 0.5s all;
}
.card .imgContainer:hover img:nth-child(2){
    opacity: 1;
    top: 0px;
}
.card .infoBox .rating{
    margin: 5px 0;
    display: none;
}
.card .infoBox .rating img{
    height: 12px;
}
.card .infoBox .title{
    margin: 5px 0;
    max-height: 170px;
    font-weight: 500;
    color: #444;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}
.card .infoBox .price{
    font-size: 19px;
    font-weight: 300;
}
.card .infoBox .price .p_price{
    color: rgb(1, 138, 1);
}
.card .infoBox .price .old_price{
    color: rgb(204, 0, 0);
    text-decoration: line-through;
}
.card .infoBox .buttonGroup{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.card .infoBox .buttonGroup button{
    border: 0px;
    outline: 0px;
    color: #fff;
    padding: 7px 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .infoBox .buttonGroup button.buy{
    background-color: #ff9f00;
    transition: 0.5s all;
}
.card .infoBox .buttonGroup button.addToCart{
    background-color: #fb641b;
    width: 100px;
    transition: 0.5s all;
}
.card .infoBox .buttonGroup button.buy:hover{
    background-color: #fb641b;
}
.card .infoBox .buttonGroup button.addToCart:hover{
    background-color: #ff9f00;
}